.notesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: first baseline;
  flex-grow: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.notesHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
